:root{
  --colorTextos: #000000;
}
::before,
::after{
  margin: o;
  padding: o;
  box-sizing: border-box;
}
body{
  font-family: Roboto;
  background: #77A1D3; 
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  font-family: 700px;
}

form{
  background: #ffffff;
  padding: 40px ;
  box-shadow: 0 0 6px 0 #ffffff;
  border-radius: 20px;
}

.form{
  width: 100%;
}

form .grupo{
  position: relative;
  margin: 25px;
}

input{
  background:none;
  color:#000000;
  font-size: 15px;
  padding: 10px 10px 5px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);

}

input:focus{
  outline: none;
  color: #77A1D3;
}

label{
  color: var(--colorTextos);
  font-size: 16px;
  position: absolute;
 

}
.warnings{
  width: 200px;
  text-align: center;
  margin: auto;
  color: #000000;
  padding-top: 20px;
}
button{
  font-family: roboto;
  background: #a3c5ee; 
  border: none;
  display: block;
  width: 80px;
  margin: 10px auto;
  color: #ffffff;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}

